.Top100Container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.Top100Container div {
    display: grid;
    grid-template-areas: "photo name follow";
}

.Top100Container h2 {
    align-self: center;
}

.Top100Container h1 {
    text-align: center;
    margin: 0px;
    width: 100%;
}

img.Top100Position {
    width: 3rem;
    height: 3rem;
    grid-area: follow;
    align-self: center;
}

h3.Top100Position {
    grid-area: follow;
    align-self: center;
    text-align: center;
}