.Header {
    --padding: 0.5rem;
    --horizontal: max(calc(50vw - 15rem), var(--padding));

    padding: var(--padding) var(--horizontal);
    width: calc(100% - 2 * var(--horizontal));
    background: linear-gradient(var(--color-bg), #00000000);
    display: flex;
    align-items: stretch;
    position: fixed;
    z-index: 2;
}

.Header div {
    position: relative;
    min-width: 2.5rem;
}

.Header div button {
    position: absolute;
    border-radius: 50%;
}

.Header input {
    border: none;
    padding: 0.75rem 0;
    line-height: 1rem;
    font-size: 1rem;
    height: 1rem;
    width: calc(100% - 2.5rem);
    background-color: var(--color-secondary);
    outline: none;
    --border-radius: 0 1.25rem 1.25rem 0;
}

.Header button {
    border: none;
    aspect-ratio: 1;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-secondary);
    padding: 0.25rem;
}

.Header div:first-child button {
    border-radius: 50% 0 0 50%;
}

.Header button:last-child {
    border-radius: 0 50% 50% 0;
}

.Header button img {
    aspect-ratio: 1;
    height: 100%;
    filter: var(--icon-filter-primary);
}