.Loading {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 1000;
    backdrop-filter: blur(1rem);
}

.Loading p {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    color:#113d14;
    text-align: center;
    width: 100vw;
}

.Loading div {
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    border: 0.5rem solid #ffffff;
    border-top: 0.5rem solid #113d14;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0%   { transform: rotate(0deg);   }
    100% { transform: rotate(360deg); }
}