.Page {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header:first-child {
    margin-top: 0;
}

.Header * {
    margin: 0;
}

.Header img {
    filter: var(--icon-filter-primary);
    width: 1.5rem;
    height: 1.5rem;
}

.Header button {
    border: none;
    border-radius: 1.25rem;

    height: 2.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-secondary);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.Page > button:last-child {
    margin: 0 auto;
}

.HorizontalCarousel {
    margin-left: calc(var(--padding) * -1);
    margin-right: calc(var(--padding) * -1);
    position: relative;
    overflow: visible;
}

.HorizontalCarousel > div {
    padding: 8px var(--padding);
    margin: -8px 0px;
    overflow: scroll;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
}

.HorizontalCarousel > div > * {
    flex-shrink: 0;
}

.HorizontalCarousel::after,
.HorizontalCarousel::before {
    content: "";
    position: absolute;
    top: 0;
    width: var(--padding);
    z-index: calc(var(--z) + 1);
    height: 100%;
}

.HorizontalCarousel::after {
    right: 0;
    background: linear-gradient(90deg, transparent, var(--color-bg));  
}
.HorizontalCarousel::before {
    left: 0;
    background: linear-gradient(90deg, var(--color-bg), transparent);
}