.Page {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header:first-child { margin-top: 0; }

.Header * { margin: 0; }

.Header img {
    width: 1.5rem;
    height: 1.5rem;

    filter: var(--icon-filter-primary);
}

.Header button {
    border: none;
    border-radius: 1.25rem;

    height: 2.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-secondary);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.Page > button:last-child { margin: 0 auto; }

.HorizontalCarousel {
    position: relative;
    margin: 0 calc(var(--padding) * -1);

    overflow: visible;
}

.HorizontalCarousel > div {
    margin: -8px 0px;
    
    padding: 8px var(--padding);
    
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
    
    overflow: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding: 8px var(--padding);
}

.HorizontalCarousel > div > * {
    flex-shrink: 0;
    
    scroll-snap-align: start;
}

.HorizontalCarousel::after,
.HorizontalCarousel::before {
    position: absolute;
    top: 0;
    z-index: calc(var(--z) + 1);

    width: var(--padding);
    height: 100%;
    
    content: "";
}

.HorizontalCarousel::after {
    right: 0;

    background: linear-gradient(90deg, transparent, var(--color-bg));  
}
.HorizontalCarousel::before {
    left: 0;

    background: linear-gradient(90deg, var(--color-bg), transparent);
}