.Infocard {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: calc(var(--z) + 2);
    animation: blurIn ease-in-out 0.5s;
    backdrop-filter: blur(5px) brightness(80%);
    margin: 0px;
    padding: 0px;
}

.Infocard > div {
    --margin: 0.5rem;
    --height: min(calc(100vh - var(--margin) * 2), 30rem);
    --width:  min(calc(100vw - var(--margin) * 2), 30rem);
    
    position: fixed;
    top: calc(50% - var(--height) / 2);
    left: calc(50% - var(--width) / 2);
    width: var(--width);
    height: var(--height);
    background-color: var(--color-secondary);
    z-index: calc(var(--z) + 3);
    animation: slideIn ease-in-out 0.5s;
    border-radius: 0.75rem;
    overflow: hidden;
}

.InfocardData {
    --padding: 1rem;

    padding: var(--padding);
    width: calc(100% - var(--padding) * 2);
    height: calc(100% - 12rem - var(--padding) * 2);
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

.InfocardData * {
    margin: 0px;
}

.InfocardData p {
    margin: 1rem 0px;
    line-height: 1.5rem;
    width: 100%;
    text-align: center;
}

.InfocardHeader {
    --padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--padding);
    width: calc(100% - var(--padding) * 2);
    height: calc(12rem - var(--padding) * 2);
    border-radius: 0.75rem;
    background-image: url('/default_assets/background.png');
    background-size: cover;
    background-position: center;
}

.InfocardHeader button {
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    border: none;
}

.InfocardHeader button img {
    width: 100%;
    height: 100%;
    filter: var(--icon-filter-primary);
}

.InfocardHeader p {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    margin: 0px;
    border-radius: 1rem;
    background-color: #ffffff;
    color: #306928;
}

.InfocardHeader p::before {
    content: "+ ";
}

.InfocardHeader p::after {
    content: " xp";
}

@keyframes slideIn {
    from { transform: translateY(calc(50vh + var(--height) / 2)); }
    to   { transform: translateY(0vh); }
}

@keyframes slideOut {
    from { transform: translateY(0vh); }
    to   { transform: translateY(calc(50vh + var(--height) / 2)); }
}

@keyframes blurIn {
    from { backdrop-filter: none; }
    to   { backdrop-filter: blur(5px) brightness(80%); }
}

@keyframes blurOut {
    from { backdrop-filter: blur(5px) brightness(80%); }
    to   { backdrop-filter: none; }
}