body:has(.ProfileForm) {
    background:
        url('/backgrounds/bg.svg') repeat-x center bottom,
        url('/backgrounds/rbg.svg') repeat-x center top,
        var(--color-bg)
        !important;
}

.ProfileForm {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: calc(100% - 1rem);
    width: min(100%, 20rem);
    margin: 0px auto;
    gap: 1rem;
    padding: 0.5rem;
}

.ProfileForm h1 {
    margin: 0px;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-primary);
}

div.FormInput {
    --width: min(100%, 20rem);
    width: var(--width);
    margin: 0px calc((100% - var(--width)) / 2);
    border-radius: 0.25rem 0.25rem 0 0;
    padding: 1.5rem 1rem 1.5rem 1rem;
    background-color: var(--color-secondary);
    border-bottom: 1px solid var(--color-disabled);
    position: relative;
}

button.FormInput, a.FormInput {
    height: 2.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
    background-color: var(--color-primary);
    border: none;
    color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: max-content;
}

button.FormInput *, a.FormInput * {
    margin: 0px;
    display: inline;
}

button.FormInput img {
    filter: var(--icon-filter-bg);
}

button.StyleOutline, a.StyleOutline {
    color: var(--color-primary);
    background-color: var(--color-bg);
}

.I_FUCKIN_HATE_CSS {
    color: var(--color-bg) !important;
}