.Home > *:first-child {
    margin-top: 0px;
}

.Home > * {
    margin: var(--padding) 0px;
}

.Home > *:last-child {
    margin-bottom: 0px;
}

.Home > button {
    width: 8rem;
    margin: 0px calc(50% - 4rem);
}

.HorizontalCarousel {
    position: relative;
    margin: 0 calc(var(--padding) * -1);

    overflow: visible;
}

.HorizontalCarousel > div {
    margin: -8px 0px;
    
    padding: 8px var(--padding);
    
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
    
    overflow: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding: 8px var(--padding);
}

.HorizontalCarousel > div > * {
    flex-shrink: 0;
    
    scroll-snap-align: start;
}

.HorizontalCarousel::after,
.HorizontalCarousel::before {
    position: absolute;
    top: 0;
    z-index: calc(var(--z) + 1);

    width: var(--padding);
    height: 100%;
    
    content: "";
}

.HorizontalCarousel::after {
    right: 0;

    background: linear-gradient(90deg, transparent, var(--color-bg));  
}
.HorizontalCarousel::before {
    left: 0;

    background: linear-gradient(90deg, var(--color-bg), transparent);
}

.LoadingSegment {
    border-radius: 0.75rem;
    
    box-sizing: border-box;
    height: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes progress {
    0%   { background-position-x:   0vw; }
    100% { background-position-x: calc(100vw - 1rem); }
}