.ProfileContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding);
    justify-content: center;
    align-content: flex-start;
}

.ProfileCard {
    border-radius: 0.75rem;
    background-color: var(--color-secondary);
    width: calc(100% - var(--padding) * 2);
    height: min-content;
    padding: var(--padding);
    --background-image: linear-gradient(45deg, #dddddd22 12.5%, #00000000 12.5%, #00000000 37.5%, #dddddd22 37.5%, #dddddd22 62.5%, #00000000 62.5%, #00000000 87.5%, #dddddd22 87.5%);
    background-size: 25px 25px;
}

.ProfileInfo {
    row-gap: 0.5rem;
    column-gap: 1rem;
    display: grid;
    grid-template-areas: 
        'photo name      follow'
        'photo followers follow'
    ;
    grid-template-columns: 4rem 1fr;
}

.ProfileInfo div:first-child {
    grid-area: photo;
    height: 4rem;
    width: 4rem;
}

.ProfileInfo h2 {
    grid-area: name;
    margin: 0px;
    align-self: end;
}

.ProfileInfo div:last-child {
    grid-area: followers;
    margin: 0px;
    display: flex;
    gap: 0.5rem;
    align-self: start;
    flex-wrap: wrap;
}

.ProfileInfo button {
    grid-area: follow;
    align-self: center;
}

.ProfileCard * {
    margin: 0px;
}

.ProfileBadges {
    display: flex;
    gap: var(--padding);
}

.ProfileBadges > img {
    aspect-ratio: 1;
    height: 3rem;
    padding: 0.75rem;
    background-color: var(--color-tertiary);
    border-radius: 0.75rem;
    justify-self: center;
}

.ProfileDivider {
    margin: 1rem 0px;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: var(--color-primary);
}

.ProfilePhoto {
    position: relative;
    width: 4rem;
    height: 4rem;
    grid-area: photo;
}

.ProfilePhoto img,
.ProfilePhoto div:first-of-type {
    position: absolute;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Product Sans';
    font-weight: bold;
    font-size: 2rem;
    border-radius: 50%;
    z-index: 1;
}

.ProfilePhoto input[type='file'] {
    position: absolute;
    width: 4rem;
    height: 4rem;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
}

.ProfilePhoto div:last-of-type {
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    width: calc(100% + 0.5rem);
    height: calc(100% + 0.5rem);
    z-index: 0;
    border-radius: 50%;
    background: conic-gradient(var(--color-primary) var(--percentage), var(--color-secondary) 0);
    transform: rotateX(180deg) rotateY(180deg);
    /* instead of doing more BS on the actual conic gradient */
    /* just rotate the element :) */
}

.ProfilePhoto p:last-of-type {
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 50%);
    background-color: var(--color-primary);
    color: var(--color-bg);
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold;
    padding: 0.25rem;
    border-radius: 1rem;
}

.PlayerInfoHistory *:not(:first-of-type) {
    background-color: var(--color-tertiary);
}

.PlayerInfoHistory *:not(:first-of-type):not(:last-of-type) {
    margin-bottom: var(--padding);
}