.Main {
    padding: 0px;
    height: calc(100vh - 4rem);
    text-align: center;
}

.Main:before { height: 0px; }

.Main section {
    --width: min(100%, 30rem);

    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.Main section > * {
    width: var(--width);
}

.Main section:not(.Splash) h1 {
    margin: 0px 0px 1rem 0px;
    padding: 0px 0px 1rem 0px;
    border-bottom: 2px solid var(--color-primary);
}

.Main p {
    margin: 0px;
    
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.Splash h1 {
    --font-size: clamp(2rem, 23vw, 4rem);

    margin: 0px;
}

.Splash div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.Splash img {
    padding: 0px clamp(0px, 5vw, 5rem);
    box-sizing: border-box;
    height: min-content;
}

.DarkenedBackground {
    --transition-gap: 2rem;
    position: relative;

    margin: var(--transition-gap) 0rem;
    
    padding: 1rem;
    background-color: #5256471F;
}

.DarkenedBackground::before,
.DarkenedBackground::after {
    position: absolute;
    left: 0px;

    content: '';
    width: 100%;
    height: var(--transition-gap);
    background: url('/media/chiseled.svg') repeat-x center bottom;
}

.DarkenedBackground::before {
    top: 0px;
    transform: translateY(-100%);
}

.DarkenedBackground::after {
    bottom: 0px;
    transform: rotateX(180deg) translateY(-100%);
}

.CardCarousel {
    overflow: hidden;
    
    width: 100%;
    height: 15rem;
}

.CardCarousel > div {
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    animation: Scroll 30s linear infinite;
}

.Card {
    border-radius: 0.75rem;
    overflow: hidden;

    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-secondary);

    animation-delay: calc(var(--card-index) * 5s);
}

.Card h3 { margin: 0px; }

.Card > div {
    padding: 1rem;
}

.CardImage {
    border-radius: 0.75rem;
    box-sizing: border-box;

    width: 100%;
    height: 10rem;
    
    background-position: center;
    background-size: cover;
}

.CardImage > div {
    border-radius: 0.75rem;
    border: none;
    
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    background-color: var(--color-secondary);
}

@keyframes Scroll {
    0%   { transform: translateY(0%);    }
    100% { transform: translateY(calc(-100% + 13.25rem)); }
}