* {
    user-select: none;
    color: var(--color-primary);
    scrollbar-width: none;
    font-size: 1rem;
    line-height: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-size: var(--font-size);
    line-height: var(--font-size);
    font-family: 'Product Sans';
}

h1 { --font-size: 2rem; }
h2 { --font-size: 1.5rem; }
h3 { --font-size: 1.25rem; }
h4 { --font-size: 1rem; }
h5 { --font-size: 0.75rem; }
h6 { --font-size: 0.5rem; }

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-bg);
}

main {
    --padding: 1rem;
    --horizontal: max(calc(50vw - 15rem), var(--padding));

    height: calc(100% - 9rem - var(--padding) * 2);
    padding: 5rem var(--horizontal) var(--padding) var(--horizontal);
    overflow-x: hidden;
    overflow-y: scroll;
    background: url('/backgrounds/spotbg.svg') center;
    background-size: 12.5rem;
}