* {
    user-select: none;
    color: var(--color-primary);
    scrollbar-width: none;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-bg);
}

main {
    --padding: 0.5rem;
    --horizontal: max(calc(50vw - 15rem), var(--padding));

    height: calc(100% - 8rem - var(--padding) * 2);
    padding: 3.5rem var(--horizontal) var(--padding) var(--horizontal);
    overflow-x: hidden;
    overflow-y: scroll;
    background: url('/backgrounds/spotbg.svg') center;
    background-size: 12.5rem;
}