.Minicard {
    border-radius: 0.75rem;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 20rem;
    height: 5rem;
    background-size: 25px 25px;
    overflow: hidden;
    border: none;
    padding: 0px;
}

.Minicard h2 {
    margin: 1.75rem 1.75rem 1.75rem 0px;
    color: var(--color-primary);
}

.Minicard img {
    height: 2.5rem;
    width: 2.5rem;
    padding: 1.25rem;
}