.Minicard {
    border-radius: 0.75rem;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    background-size: 25px 25px;
    overflow: hidden;
    gap: 1rem;
    border: none;
    padding: 0px;
}

.Minicard h4 {
    margin: 0px;
    margin: 1rem 0px 1rem 1rem;
    color: var(--color-primary);
}

.Minicard img {
    aspect-ratio: 1;
    height: 2rem;
    padding: 0.5rem;
}