.Minicard {
    border-radius: 0.75rem;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
    height: 5rem;
    background-size: 25px 25px;
    overflow: hidden;
    gap: 1rem;
    border: none;
    padding: 0px;
}

.Minicard h2 {
    margin: 0px 1.75rem 0px 0px;
    color: var(--color-primary);
}

.Minicard img {
    height: 2.5rem;
    width: 2.5rem;
    padding: 1.25rem;
}