.UserSearch {
    --padding: 0.5rem;
    --horizontal: max(calc(50vw - 15rem), var(--padding));

    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - var(--horizontal) * 2);
    height: calc(100vh - 3.5rem - var(--padding) * 2);
    z-index: 1;
    background-color: var(--color-bg);
    animation: slideIn ease-in-out 0.5s;
    padding: 4rem var(--horizontal) var(--padding) var(--horizontal);
}

.UserSearchCentered {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: var(--padding);
}