.Header {
    --padding: 1rem;
    --horizontal: max(calc(50vw - 15rem), var(--padding));
    
    padding: var(--padding) var(--horizontal);
    width: calc(100% - 2 * var(--horizontal));
    height: 3rem;
    display: flex;
    align-items: stretch;
    position: fixed;
    z-index: calc(var(--z) + 4);
}

.Header div {
    position: relative;
    min-width: 3rem;
}

.Header div button {
    position: absolute;
    border-radius: 50%;
}

.Header input {
    border: none;
    padding: 1rem 0;
    height: 1rem;
    width: calc(100% - 2.5rem);
    background-color: var(--color-secondary);
    outline: none;
    --font-family: 'Product Sans';
}

.Header button {
    border: none;
    aspect-ratio: 1;
    width: 3rem;
    height: 3rem;
    background-color: var(--color-secondary);
    padding: 0.75rem;
}

.Header div:first-child button {
    border-radius: 50% 0 0 50%;
}

.Header button:last-child {
    border-radius: 0 50% 50% 0;
}

.Header button img {
    height: 100%;
    width: 100%;
    filter: var(--icon-filter-primary);
}

.HeaderSearchBG {
    --padding: 1rem;
    --horizontal: max(calc(50vw - 15rem), var(--padding));

    border-radius: 1.75rem;
    margin: var(--padding) var(--horizontal);
    width: calc(100% - 2 * var(--horizontal));
    height: 3rem;
    background: var(--color-secondary);
    display: flex;
    align-items: stretch;
    position: fixed;
    z-index: calc(var(--z) + 3);
    transition-property: margin, width, height, border-radius, border-bottom;
    transition-duration: 0.25s;
}

.HeaderSearchBGActive {
    margin: 0;
    width: 100%;
    height: 5rem;
    border-radius: 0;
}