.Mapcard {
    width: 100%;
    border-radius: 0.75rem;
    overflow: hidden;
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

.MapcardLocation {
    --padding: 1rem;

    width: calc(100% - var(--padding) * 2);
    height: calc(10rem - var(--padding) * 2);
    border-radius: 0.75rem;
    padding: var(--padding);
    background: url('/default_assets/background.png');
    background-position: center;
    background-size: cover;
}

.MapcardLocation > div {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.75rem;
    border: none;
    padding: 0.5rem;
    background-color: var(--color-secondary);
}

.MapcardLocation > div > img {
    aspect-ratio: 1;
    width: 100%;
}

.MapcardMore {
    --padding: 1rem;

    background-color: var(--color-secondary);
    width: calc(100% - var(--padding) * 2);
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Button {
    height: 2.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background-color: transparent;
}