.Mapcard {
    width: 100%;
    border-radius: 0.75rem;
    overflow: hidden;
    color: var(--color-primary);
    margin-bottom: 0.5rem;
}

.MapcardLocation {
    --padding: 0.5rem;

    width: calc(100% - var(--padding) * 2);
    height: calc(8rem - var(--padding) * 2);
    padding: var(--padding);
    background-image: url('/placeholder.png');
}

.MapcardLocation > div {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.75rem;
    background-color: var(--color-secondary);
    border: none;
    padding: 0.5rem;
}

.MapcardLocation > div > img {
    aspect-ratio: 1;
    width: 100%;
}

.MapcardMore {
    --padding: 1rem;

    background-color: var(--color-secondary);
    width: calc(100% - var(--padding) * 2);
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MapcardTitle {
    margin: 0px;
    font-weight: bold;
    color: var(--color-primary);
}

.Button {
    --padding: 0.25rem;

    height: calc(2.5rem - var(--padding) * 2);
    padding: var(--padding) 1rem;
    border-radius: 1.25rem;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background-color: #ffffff00;
    font-size: 1rem;
    line-height: 1rem;
}