.Dialog {
    position: fixed;
    top: 0;
    left: 0;
    z-index: calc(var(--z) + 4);

    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    animation: blurIn ease-in-out 0.5s forwards;
}

.Dialog > div {
    --margin: 0.5rem;
    --width:  min(calc(100vw - var(--margin) * 2), 25rem);

    border-radius: 1.75rem;
    
    width: var(--width);
    box-sizing: border-box;

    padding: 1.5rem;
    background-color: var(--color-secondary);
    
    animation: slideIn ease-in-out 0.5s forwards;
}

.Dialog h2 { margin: 0px 0px 1rem 0px; }

.Dialog p { margin: 0px; }

.DialogOptions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    padding: 1.5rem 0px 0px 1.5rem;
}

.DialogOptions button {
    border: white 1px solid;
    border-radius: 1.25rem;
    
    height: 2.5rem;
    
    padding: 0.5rem 1rem;
    color: var(--color-primary);
    background-color: transparent;
}

@keyframes slideIn {
    from { transform: translateY(100vh); }
    to   { transform: translateY(0vh); }
}

@keyframes slideOut {
    from { transform: translateY(0vh); }
    to   { transform: translateY(100vh); }
}

@keyframes blurIn {
    from { backdrop-filter: none; }
    to   { backdrop-filter: blur(5px) brightness(80%); }
}

@keyframes blurOut {
    from { backdrop-filter: blur(5px) brightness(80%); }
    to   { backdrop-filter: none; }
}