.Navbar {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--color-secondary);
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.NavbarEntry {
    width: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    text-decoration: none;
    color: var(--color-primary);
    text-align: center;
    border: none;
    padding: 0px;
    background-color: transparent;
}

.NavbarEntry div {
    height: 1.25rem;
    width: 4rem;
    padding: calc((2rem - 1.25rem) / 2);
    border-radius: 1rem;
    pointer-events: none;
}

.NavbarEntry div img {
    aspect-ratio: 1;
    height: 100%;
    filter: var(--icon-filter-primary);
}

.NavbarEntry p {
    width: 100%;
    margin: 0px;
    display: none;
    pointer-events: none;
    font-size: 0.75rem;
    line-height: 0.75rem;
}

.NavbarEntrySelected div {
    background-color: var(--color-tertiary);
}

.NavbarEntrySelected p {
    display: block;
}